.back{
  margin: 20px;
  font-family: sans-serif !important;
  display: flex;
  align-items: center;
}
em{
  margin-right: 10px;
}
.show-orders:hover{
  cursor: pointer;
}
.back-icon {
  color: #4827be;
}
.back-icon:hover {
  color: #25cb80;
}
